<head>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
</head>
<body>
<h1>{{ request_object.name }}</h1>
<table>
    {% for key, value in request_dict.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
</table>
<div id="view"></div>
<script type="text/javascript">
    var view;

    fetch('{{ path_to_spec }}' )
        .then(res => res.json())
        .then(spec => render(spec))
        .catch(err => console.error(err));

    function render(spec) {
        view = new vega.View(vega.parse(spec), {
            renderer: '{{ request_object.renderer.value }}',  // renderer (canvas or svg)
            container: '#view',   // parent DOM container
            hover: true       // enable hover processing
        });
        return view.runAsync();
    }
</script>
</body>