<head>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
</head>
<body>
<h1>{{ request.experiment_name }}</h1>
<div id="view"></div>
<script type="text/javascript">
    var view;

    fetch('specs/{{ request.experiment_name }}.json' )
        .then(res => res.json())
        .then(spec => render(spec))
        .catch(err => console.error(err));

    function render(spec) {
        view = new vega.View(vega.parse(spec), {
            renderer: '{{ request.renderer.value }}',  // renderer (canvas or svg)
            container: '#view',   // parent DOM container
            hover: true       // enable hover processing
        });
        return view.runAsync();
    }
</script>
</body>